<mat-toolbar color="primary">

  <button mat-button (click)="homeClick()">
    Home
  </button>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="mat-icon-button-bg">
    <img *ngIf="avatar" class="avatar" [src]="avatar">
    <span *ngIf="!avatar">{{name | shortName:2}}</span>
  </button>

  <mat-menu #profileMenu="matMenu">
    <div class="menu-title">
      <span class="menu-name">{{name}}</span><br/>
      <span class="menu-email">{{email}}</span>
    </div>

    <button mat-menu-item (click)="profileClick()">
      Profile
    </button>
    <button mat-menu-item (click)="logoutClick()">
      Logout
    </button>
  </mat-menu>

</mat-toolbar>
