.avatar {
  /* make a square container */
  width: 40px;
  height: 40px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

.menu-title {
  padding: 0 16px;
  color: #2a2a2a;
}

.menu-name {
  font-weight: bold;
}

.menu-email {
  font-size: small;
}

.spacer {
  flex: 1 1 auto;
}
