/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --app-primary-first: #fefefe;
  --app-primary-second: #f3f3f3;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--app-primary-first);
}

:focus {
  outline: 0;
}
